# Statistics on aerosols and PWV

- Author :Sylvie Dagoret-Campagne
- affiliation : LAL,IN2P3,CNRS
- organization : LSST 
- Creation date 2016 June 16th

In [2]:
import os
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
from mpl_toolkits.basemap import Basemap
from matplotlib import colors
from matplotlib.backends.backend_pdf import PdfPages
import pandas as pd

In [1]:
filename='CAL_LID_L3_APro_AllSky-Standard-V3-00_SummaryAODandPWV.csv'

In [3]:
dataset=pd.read_csv(filename)

In [4]:
dataset.head()

   Unnamed: 0       dates  AOD_days  AOD_nights  PWV_days  PWV_nights
0           0  2007-01-01  0.072230    0.053129  5.462354    0.332454
1           1  2007-02-01  0.079548    0.076607  3.444027    2.643404
2           2  2007-03-01  0.042279    0.103868  2.658340    2.139459
3           3  2007-04-01  0.103347    0.043427  3.790867    3.201135
4           4  2007-05-01  0.057246    0.040217  2.422375    1.689483

In [5]:
dataset.describe()

       Unnamed: 0    AOD_days  AOD_nights    PWV_days  PWV_nights
count   108.00000  108.000000  108.000000  108.000000  108.000000
mean     53.50000    0.057488    0.062986    3.403296    2.872492
std      31.32092    0.028127    0.029850    1.069851    1.250200
min       0.00000    0.001937    0.004760    1.756672    0.332454
25%      26.75000    0.040534    0.041767    2.638791    1.941136
50%      53.50000    0.053263    0.057623    3.236731    2.698967
75%      80.25000    0.075217    0.075387    3.895812    3.614878
max     107.00000    0.140762    0.171333    6.331009    6.668858

In [7]:
dataset.quantile([0.05,0.1,0.5,0.9,0.95])

      Unnamed: 0  AOD_days  AOD_nights  PWV_days  PWV_nights
0.05        5.35  0.013106    0.029699  2.011780    1.184236
0.10       10.70  0.026988    0.032824  2.194021    1.472159
0.50       53.50  0.053263    0.057623  3.236731    2.698967
0.90       96.30  0.097025    0.102929  4.852901    4.676477
0.95      101.65  0.112520    0.123061  5.555784    5.215895